body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Aplica a regra de box-sizing a todos os elementos */
}

nav {
  background-color: #333;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Torna a navbar fixa */
  width: 100%; /* Faz a navbar ocupar toda a largura da página */
  top: 0; /* Fixa a navbar no topo da página */
  left: 0; /* Garante que a navbar inicie no lado esquerdo */
  right: 0; /* Garante que a navbar estenda até o lado direito */
  z-index: 1000; /* Garante que a navbar fique acima de outros elementos */
  box-sizing: border-box; /* Inclui padding na largura total */
}

nav .logo {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

nav ul li {
  margin-left: 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px; /* Adiciona espaço para a navbar fixa */
  padding: 1em; /* Adiciona algum espaçamento interno */
  width: 100%;
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.form input,
.form textarea,
.form button {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.form button {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.form button:hover {
  background-color: #555;
}

.product-list {
  width: 100%;
  max-width: 800px;
  padding: 1em;
  box-sizing: border-box;
}

.product {
  border: 1px solid #ddd;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}

.edit-form {
  margin-top: 10px;
}

h1, h2, h3 {
  margin-top: 0;
}

h2 {
  margin-top: 20px; /* Garante espaço entre seções */
}

button {
  cursor: pointer;
}
